body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*-------main header -------*/
.header1
{
	height: auto;
	width: auto;
	background-image: url(D:/project/website%20html/first%201/img/hero-background.jpg);
	background-position: center top;
	background-attachment: fixed;
}
.header2
{
	align-items: center; 
	justify-content: 
	space-between; 
	display: flex;
	padding: 35px 0px 0px 110px;
}
.nav1
{
	align-items: center;
	margin-right: 125px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.04em;
}
li
{
	display: inline;
}
li a
{
	color: #ffffff;
	padding: 23px;
}
li a:hover
{
	color: red;
	text-decoration: none;
}
li button
{
	background-color: transparent;
    border-radius: 5px;
    color: white;
    border-style:solid;
    border-width:1px;  
    border-color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
}
li button:hover
{
	background-color: white;
	border-color: white;
	color: black;

}
section h1
{
	color: #ffffff;
	text-align: center;
	padding-top: 200px;
	text-transform: uppercase;
	font-size: 79px;
	font-weight: bold;
	letter-spacing: 5px;
}
p
{
	color: #ffffff; 
	text-align: center;
	text-transform: uppercase;
	font-size: 37px;
}
.header3
{
	margin-left: 300px;
	margin-top: 75px;
	padding-bottom: 300px;
}
section	table tr td .input1
{
	width: 500px;
	height: 60px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: none;
}
section	table tr td .btn
{
	width: 200px;
	height: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	background-color: #e7434e;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.btn:hover
{
	background-color: orange;
}
::placeholder
{
	font-size: 15px;
}

/*------ destination  -----*/
.destination
{
	width: 1100px;
	height: 150px;
	background-color: #FFFFFF;
	margin: auto;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px lightgray;
	margin-top: -75px;
}
.destination2
{
	float: left;
	padding: 40px;

}
.span1
{
	color: #343434;
	font-size: 30px;
	font-weight: bold;
	margin: 30px;
	padding-left: 40px;
}
.p1
{
	color: #717171;
	font-size: 20px;
	font-weight: normal;
	text-transform: capitalize;
	padding-left: 40px;
}
.line1
{
	border-left: 1px solid #D4D4D4;
	height: 80px;
	margin-left: 10px;

}

/*------- tourimages ------*/
.tourimages
{
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
}
.tourimages1
{
	margin-top: 60px;
	margin-left: 100px;
}
div form table tr td
{
	padding: 14px;
}
.btn2
{
	 margin: 40px; 
	 margin-left: 440px; 
	 width: 300px; 
	 color: #343435;
	 border-width: 1px;
	 border-color: lightgray;
	 border-radius: 5px;  
	 background-color: #FFFFFF; 
	 height: 60px; 
	 font-size: 16px; 
	 font-weight: bold;
}

/*----- REnt boat -------*/
.boat
{
	width: 100%;
	height: 600px;
	background-image: url(D:/project/website%20html/first%201/img/rent-boat-background.jpg);
	background-attachment: fixed;
	position: relative;
	background-position: center top;
}
.btn3
{
	width: 200px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background-color: #e7434e;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.btn3:hover
{
	background-color: orange;
}
.boattd
{
	padding-top: 60px;
	padding-left: 560px;
}

/*------------ FEATURED BOATS ----------*/
.FEATUREDBOATS
{
	width: 100%;
	height: auto;
}
.featured1
{
	padding-top: 100px;
	padding-left: 525px;
	font-size: 30px;
	color: #343435;
	letter-spacing: 2px;
}
.para
{
	padding-top: 0px;
	padding-left: 370px;
	font-size: 18px;
	color: #717171;	
}
.btn4
{
	width: 220px;
	height: 60px;
	border-radius: 5px;
	border-width: 1px;
	border-color: lightgray;
	background-color: white;
	font-size: 16px;
	font-weight: bold;
	color: #343435;
}
.boattd1
{
	padding-top: 10px;
	padding-left: 560px;
	padding-bottom: 80px;
}

/*--------- foooter ------*/
.main-footer 
{
  background-image: url(D:/project/website%20html/first%201/img/footer-pattern.png);
  background-repeat: repeat-x;
  background-color: #404040;
  padding: 60px;
  height: 250px;
}
.vertical-menu 
{
    width: 200px;
    display: inline;
    float: left;
}
.vertical-menu1
{
	margin-left: 65px;
    width: 200px;
    display: inline;
    float: left;
}
.vertical-menu2
{
	margin-left: 65px;
    width: 400px;
    display: inline;
    float: left;
}
.vertical-menu3
{
	margin-left: 45px;
    width: 200px;
    display: inline;
    float: left;
}
.vertical-menu a 
{
   
    color: #FFFFFF;
    display: block;
    padding: 4px;
    margin-left: 25px;
    font-size: 15px;
    text-decoration: none;
}
.vertical-menu1 a 
{
   
    color: #FFFFFF;
    display: block;
    padding: 4px;
    margin-left: 25px;
    font-size: 15px;
    text-decoration: none;
}
.vertical-menu2 a 
{
   
    color: #FFFFFF;
    display: block;
    padding: 4px;
    margin-left: 25px;
    font-size: 15px;
    text-decoration: none;
}
.vertical-menu3 a 
{
   
    color: #FFFFFF;
    display: block;
    padding: 4px;
    margin-left: 5px;
    font-size: 15px;
    text-decoration: none;
}

.vertical-menu a:hover
{
	text-decoration: none;
	color: red;
}
.vertical-menu1 a:hover
{
	text-decoration: none;
	color: red;
}.vertical-menu2 a:hover
{
	text-decoration: none;
	color: red;
}.vertical-menu3 a:hover
{
	text-decoration: none;
	color: red;
}
.th1
{
	padding-left: 32px;
	font-size: 16px; 
	color: #FFFFFF; 
	font-weight: bold;
}
.th2
{
	margin: 0px; 
	padding-left: 140px; 
	font-size: 16px; 
	color: #FFFFFF; 
	font-weight: bold;
}
.th3
{
	margin: 0px; 
	padding-left: 100px; 
	font-size: 16px; 
	color: #FFFFFF; 
	font-weight: bold;
}
.th4
{
	margin: 0px; 
	padding-left: 200px; 
	font-size: 16px; 
	color: #FFFFFF; 
	font-weight: bold;
}
.input1
{
	height: 40px; 
	margin-top: 20px; 
	border-top-left-radius: 7px; 
	border-bottom-left-radius: 7px; 
	border: none;
}
.btn6
{
	 width: 150px; 
	 height: 40px; 
	 font-size: 12px; 
	 font-weight: bold; 
	 color: #FFFFFF; 
	 border-top-right-radius: 7px; 
	 border-bottom-right-radius: 7px; 
	 background-color: #E7434E; 
	 border: none;
}

























































































































